#body{
     background-image: linear-gradient(to right, red , yellow);
}
#baseForm {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#voteYes {
    display: none;
}

#voteNo{
    display: none;
}

#skip{
    display: none;
}

#addSong{
    display: none;
}

#websiteIntro {
    font-family: 'Arvo';
}

#Name {
    display: none;
}

#Artist {
    display: none;
}

.Button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }