body {
    background-color: rgb(44, 43, 43);
}

#baseForm {
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#songQueue {
    display: none;
}

#label2 {
    display: none;
}

#voteYes {
    display: none;
}

#voteNo {
    display: none;
}

#skip {
    display: none;
}

#addSong {
    display: none;
}

#websiteIntro {
    font-family: 'Archivo Black', sans-serif;
    font-size: 70px;
}

#Name {
    display: none;
}

#Artist {
    display: none;
}

.Button {
    background-color: rgb(101, 211, 110);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

#room {
    display: flex;
    flex-flow: column-reverse;
}

#addSongPrompt {
    padding-right: 50px;
}

#votePrompt {
    background-color: rgb(35, 35, 35);
    padding: 20px;
    border-radius: 8px;
}